<!--<div class="area-widget-wrap-->
<!--            area-widget-wrap&#45;&#45;grid-horizontal">-->
<div class="area-widget-wrap">
    <ng-container *ngFor="let cell of getCells()" [ngSwitch]="cell.type.isStartWidget">

        <!--        TODO: раскомментить, -->
        <!--        <ng-template [ngSwitchCase]="true">-->
        <!--            <app-widget [isCanBeClosed]="false" [isDark]="false">-->
        <!--                <app-start-widget></app-start-widget>-->
        <!--            </app-widget>-->
        <!--        </ng-template>-->

        <!--        TODO: поменять на false-->
        <ng-template [ngSwitchCase]="true">
            <app-widget [isCanBeClosed]="true" [isDark]="true">
                <app-chart-widget [symbol]="'tencent'"></app-chart-widget>
            </app-widget>
        </ng-template>
        <ng-template [ngSwitchCase]="true">
            <app-widget [isCanBeClosed]="true" [isDark]="true" class="second">
                <app-chart-widget [symbol]="'IBM'"></app-chart-widget>
            </app-widget>
        </ng-template>
    </ng-container>
</div>

