<div class="area-widget-wrap
            area-widget-wrap--grid-horizontal">
    <!--    <app-chart-widget class="layout-widget&#45;&#45;cell-widget-left"></app-chart-widget>-->
    <!--    <app-chart-widget class="layout-widget&#45;&#45;cell-widget-right"></app-chart-widget>-->
    <!--    <app-start-widget class="layout-widget&#45;&#45;cell-widget-left"></app-start-widget>-->

    <!--    <div *ngFor="let i of [1,2,3]">-->
    <!--        <app-chart-widget class="layout-widget&#45;&#45;cell-widget-right"></app-chart-widget>-->
    <!--    </div>-->

    <ng-container *ngFor="let cell of getCells()" [ngSwitch]="cell.type.isStartWidget">

        <!--        TODO: раскомментить, -->
        <!--        <ng-template [ngSwitchCase]="true">-->
        <!--            <app-widget [isCanBeClosed]="false" [isDark]="false">-->
        <!--                <app-start-widget></app-start-widget>-->
        <!--            </app-widget>-->
        <!--        </ng-template>-->

        <!--        TODO: поменять на false-->
        <ng-template [ngSwitchCase]="true">
            <app-widget [isCanBeClosed]="true" [isDark]="true">
                <app-chart-widget [index]="'IBM'"></app-chart-widget>
            </app-widget>
        </ng-template>


        <!--        <app-widget (loadstart)="chooseWidget(i.type)"></app-widget>-->
    </ng-container>


</div>

