<div class="header
            header--header-main-color
            general--bold
            general--font-type">
    <div class="header__heading">
        <a routerLink=""
           class="header__item
                  header--desktop-font-size
                  general--font-color">
            <i class="icon-stocks
                      header__logo
                      header--desktop-logo-size
                      header--logo-color">
            </i>
            stocks.tools
        </a>
    </div>

    <div class="header__navigation">
        <a routerLink="settings"
           class="header__item
                  header__item--on-hover
                  header--desktop-font-size-small
                  general--font-color">
            settings</a>

        <a href=""
           class="header__item
                  header__item--on-hover
                  header--desktop-font-size-small
                  general--font-color">
            reset</a>

        <a routerLink="about"
           class="header__item
                  header__item--on-hover
                  header--desktop-font-size-small
                  general--font-color">
            about</a>

        <a href="https://github.com/HarryR10/stocks-monitor"
           class="header__item
                  header__item--on-hover
                  header--desktop-logo-size
                  general--icon-color"
           target="_blank">
            <i class="icon-github"></i>
        </a>

    </div>

</div>

