<div class="header">
    <div class="header__heading">
        <i class="icon-stocks header__item header__logo"></i>
        <a href=""
           class="general__font header__item">
            stocks.tools</a>
    </div>
    <div class="header__navigation">
        <a href=""
           class="general__font header__item header__item--nav_background">
            about</a>
        <a href="https://github.com/HarryR10/stocks-monitor"
           class="header__item header__item--nav_background"
           target="_blank">
            <i class="icon-github general__icon navigation__icon"></i>
        </a>
    </div>
</div>

