<form class="settings
general--font-color
general--font-type">

    <div class="">
        <label for="AVantageKey" class="general--bold">Your Alpha Vantage API key:</label>
        <input class="settings__field" type="text" id="AVantageKey"
               (focusout)="verifyAlphaVantageKey().subscribe()" required
               [(ngModel)]="alphaVantageApiKey.keyValue" name="AVantageKey"
               [disabled]="saving">
        <div>
            <div *ngIf="alphaVantageApiKey.isValid">Correct!</div>
            <div class="settings__wrong-key" *ngIf="!alphaVantageApiKey.isValid">Key isn't correct!</div>
        </div>
    </div>

    <div class="">
        <label for="iexKey" class="general--bold ">Your iex cloud API key:</label>
        <input class="settings__field" type="text" id="iexKey"
               (focusout)="verifyIexApiKey().subscribe()" required
               [(ngModel)]="iexApiKey.keyValue" name="iexKey"
               [disabled]="saving">
        <div>
            <div *ngIf="iexApiKey.isValid">Correct!</div>
            <div class="settings__wrong-key" *ngIf="!iexApiKey.isValid">Key isn't correct!</div>
        </div>
    </div>

    <div class="">
        <label for="iexSandboxKey" class="general--bold ">Your sandbox iex cloud API key:</label>
        <input class="settings__field" type="text" id="iexSandboxKey"
               (focusout)="verifyIexSandboxApiKey().subscribe()" required
               [(ngModel)]="iexSandboxApiKey.keyValue" name="iexSandboxKey"
               [disabled]="saving">
        <div>
            <div *ngIf="iexSandboxApiKey.isValid">Correct!</div>
            <div class="settings__wrong-key" *ngIf="!iexSandboxApiKey.isValid">Key isn't correct!</div>
        </div>
    </div>

    <button class="settings__btn general--font-color"
            type="submit"
            (click)="saveKeys()"
            [disabled]="saving">
        Save API keys to Local storage
    </button>
    <div *ngIf="messageForUser">
        {{messageForUser}}
    </div>
</form>
