@import "../../../styles/colors_variables"

.settings
  padding: 30px

  &__field
    border-radius: 50px / 50px
    outline-style: none
    border: none
    padding: 7px 7px 10px 7px
    margin-left: 20px

  &__wrong-key
    color: $chart-candle-fall-color
