<form class="search-component
             search-component__btn--desktop-font-size"
      action="" method="GET">
    <div class="search-component__form">
        <label for="search" class="search-component__label">Type&nbsp;index&nbsp;here:</label>
        <input [formControl]="searchControl" type="text" class="search-component__field" id="search" required
               maxlength="30">
    </div>
</form>

<div class="search-result">
    <table class="tab">
        <caption>Searching results:</caption>
        <thead>
        <tr>
            <th>Index</th>
            <th>Company name</th>
            <th>Type</th>
            <th>Region</th>
            <th>Currency</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let company of this.searchResult" (click)="selectedCompany = company">
            <td>{{company.symbol}}</td>
            <td>{{company.name}}</td>
            <td>{{company.type}}</td>
            <td>{{company.region}}</td>
            <td>{{company.currency}}</td>
        </tr>
        </tbody>
    </table>
    <button *ngIf="selectedCompany !== undefined"
            (click)="useChosenCompany(selectedCompany)"
            [disabled]="loading"
            type="button" class="search-component__btn general--font-color">
        Use {{selectedCompany.symbol}} index
    </button>
    <div>{{msg}}</div>
</div>
