@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?rv8ggj');
    src: url('fonts/icomoon.eot?rv8ggj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rv8ggj') format('truetype'),
    url('fonts/icomoon.woff?rv8ggj') format('woff'),
    url('fonts/icomoon.svg?rv8ggj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-stocks:before {
    content: "\e901";
    color: #d9e1eb;
}

.icon-github:before {
    content: "\e900";
}
