<form class="search-component
             search-component__btn--desktop-font-size"
      action="" method="GET">
    <div class="search-component__form">
        <label for="search" class="search-component__label">Find&nbsp;index:</label>
        <input [formControl]="searchControl" type="text" class="search-component__field" id="search" required
               maxlength="30">
        <button type="button" class="search-component__btn
                                     general--font-color">Search
        </button>
    </div>

</form>
