<form class=""
      action="" method="GET">
    <div class="">
        <label for="alphaVantageApiKey" class="">Your Alpha Vantage API key:</label>
        <input [formControl]="alphaVantageApiKey" type="text" class="" id="alphaVantageApiKey" required
               maxlength="30">
        <div>
            <div *ngIf="isCorrectAlphaVantageApiKey">Correct!</div>
            <div *ngIf="!isCorrectAlphaVantageApiKey">Key isn't correct!</div>
        </div>
    </div>

    <div class="">
        <label for="iexApiKey" class="">Your iex cloud API key:</label>
        <input [formControl]="iexApiKey" type="text" class="" id="iexApiKey" required
               maxlength="30">
        <div>
            <div *ngIf="isCorrectIexApiKey">Correct!</div>
            <div *ngIf="!isCorrectIexApiKey">Key isn't correct!</div>
        </div>
    </div>

    <div class="">
        <label for="iexSandboxApiKey" class="">Your sandbox iex cloud API key:</label>
        <input [formControl]="iexSandboxApiKey" type="text" class="" id="iexSandboxApiKey" required
               maxlength="30">
        <div>
            <div *ngIf="isCorrectIexSandboxApiKey">Correct!</div>
            <div *ngIf="!isCorrectIexSandboxApiKey">Key isn't correct!</div>
        </div>
    </div>
</form>
